build/
build-debug/
install-debug/
CMakeFiles/
html/
latex/
/*.sublime-*
*.swp
*.o
*.obj
*.log
*.DS_Store
*.graphml
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
Ideen.txt
Installation.txt
